# bet365 + Pinnacle 축구 배당 (https://www.api-football.com/)
API_FOOTBALL_KEY=your_api_football_key
# TheOddsAPI (https://the-odds-api.com/). bet365 는 호주(bet365_au) AFL/NRL 만 유료 플랜에서 제공
THE_ODDS_API_KEY=your_theoddsapi_key
